body
{
    background-color: black;
}

div.div1
{
    background-color: white;
    width: 343px;
    margin-left:auto;
    margin-right:auto;
}

span.highlight
{
    background-color: yellow;
}

span.underline
{
    text-decoration: underline;
}

span.textcolor
{
    color: red;
}